

<%= simple_form_for([@user, @schedule_event]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :title, 'Titulo' %>
    <%= f.input :title, as: :string, label: false %>
    <%= f.label :description, 'Descripcion' %>
    <%= f.input :description, as: :string, label: false %>


    <%= f.label :description, 'Fecha y Hora'%>
   
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.collection_select :patient_id, Patient.all, :id, :fullname, {prompt: "Seleccionar Paciente"}, class:"form-control" %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, 'Agendar Atención' %>
  </div>
<% end %>
