<%= form_with(model: attention, local: true) do |form| %>
  <% if attention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attention.errors.count, "error") %> prohibited this attention from being saved:</h2>

      <ul>
        <% attention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :therapy %>
    <%= form.text_field :therapy %>
  </div>

  <div class="field">
    <%= form.label :treatment %>
    <%= form.text_area :treatment %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :symptom %>
    <%= form.text_field :symptom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
