<%= form_with(model: attention, local: true) do |form| %>
  <% if attention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attention.errors.count, "error") %> prohibited this attention from being saved:</h2>

      <ul>
        <% attention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="margen-attentions">  
  <div class="field">
    <%= form.label :patient_id, "Rut Paciente: #{@attention.patient.rut}" %>
    <%= form.text_field :patient_id, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :patient_id, "Nombre Paciente: #{@attention.patient.name} #{@attention.patient.last_name}" %>
    <%= form.text_field :patient_id, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :specialty_id, "Especialidad:" %>
    <%= form.collection_select :specialty_id, current_user.specialties, :id, :name, {prompt: "Seleccionar Especialidad"}, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :treatment, "Tratamiento:" %>
    <%= form.text_area :treatment %>
  </div>

  <div class="field">
    <%= form.label :date, "Fecha:" %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time, "Hora:" %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :symptom, "Síntomas:" %>
    <%= form.text_field :symptom %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Atención" %>
  </div>
<% end %>
</div>