<p id="notice"><%= notice %></p>

<h1 class="table1">Attentions</h1>

  <form class="form-inline">
  <input class="form-control mr-sm-2 forma" type="search" placeholder "Buscar por Rut" aria-label="Search" name="rut">
  <button class="btn btn-info" type="submit">Search</button>
  </form>


  <table class="table1">
    <thead>
      <tr>
        <th>Rut</th>
        <th>Patient</th>
        <th>User</th>
        <th>Therapy</th>
        <th>Treatment</th>
        <th>Date</th>
        <th>Time</th>
        <th>Symptom</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @attentions.each do |attention| %>
        <tr>
          
          <td><%= attention.patient.rut %></td>
          <td><%= attention.patient.name + " #{attention.patient.last_name}" %></td>
          <td><%= attention.user.username %></td>
          <td><%= attention.therapy %></td>
          <td><%= attention.treatment %></td>
          <td><%= attention.date %></td>
          <td><%= attention.time %></td>
          <td><%= attention.symptom %></td>
          <td><%= link_to 'Show', attention, class: "btn btn-light btn-sm ml-2" %></td>
          <td><%= link_to 'Edit', edit_attention_path(attention), class: "btn btn-light btn-sm ml-2" %></td>
          <td><%= link_to 'Destroy', attention, class: "btn btn-light btn-sm ml-2", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'New Attention', new_attention_path, class: "btn btn-light btn-sm ml-2" %></td>
          </tr>
      <% end %>
    </tbody>
    
  </table>

  <br>

  <%= link_to 'New Attention', new_attention_path, class: "forma" %>
  

