<div class="centered">

<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= "#{@attention.patient.name} #{@attention.patient.last_name}" %>
</p>

<p>
  <strong>Terapeuta:</strong>
  <%= @attention.user.username %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @attention.specialty.name %>
</p>
<p>
  <strong>Sintomas:</strong>
  <%= @attention.symptom %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @attention.date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @attention.time %>
</p>
<p>
  <strong>Tratamiento:</strong>
  <%= @attention.treatment %>
</p>





<%= link_to 'Editar Atención', edit_attention_path(@attention), class: "btn btn-light btn-sm ml-2" %> |
<%= link_to 'Volver', attentions_path, class: "btn btn-light btn-sm ml-2" %>
</div>