<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_specialty.user_id %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @user_specialty.specialty_id %>
</p>

<%= link_to 'Edit', edit_user_specialty_path(@user_specialty) %> |
<%= link_to 'Back', user_specialties_path %>
