
<div class="centered">
    <p id="notice"><%= notice %></p>
    <p>
    <strong>Usuario:</strong>
    <%= @user.username %>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  

  
  <strong>Especialidades:</strong>
  <% @user.specialties.each do |specialty| %>
    <p><%= specialty.name %></p>
  <% end %>



  <%= link_to 'Lista atenciones realizadas', attentions_path, class: "btn btn-light" %> |
  <%= link_to 'Editar Usuario', edit_user_path(@user), class: "btn btn-light" %> |
  <%= link_to 'Volver', root_path, class: "btn btn-light" %>
  <br><br>
  
  
  <div class="row">
    <div class="col-md-4"><%= pie_chart @graph1, title: "Atenciones por Especialidad"%></div>
    <div class="col-md-4"><%= pie_chart @graph2, title: "Cantidad Atenciones por Paciente"%></div>
  </div>

</div>
