
<div class="centered">
    <p id="notice"><%= notice %></p>
    <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
  <% @user.specialties.each do |specialty| %>
    <p><%= specialty.name %></p>
  <% end %>



  <%= link_to 'Lista atenciones realizadas', attentions_path, class: "btn btn-light" %> |
  <%= link_to 'Dashboard', root_path, class: "btn btn-light" %> |
  <%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-light" %> |
  <%= link_to 'Back', root_path, class: "btn btn-light" %>

  <%= pie_chart @pie_users, title: "Attentions by Therapy"%>
</div>
