<p id="notice"><%= notice %></p>
<div class="centered">
  <h2>Especialidades</h2>
  <table class="table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @specialties.each do |specialty| %>
        <tr>
          <td><%= specialty.name %></td>
          <td><%= link_to 'Editar', edit_specialty_path(specialty), class: "btn btn-light" %></td>
          <td><%= link_to 'Borrar', specialty, method: :delete, class: "btn btn-light", data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear especialidad', new_specialty_path, class: "btn btn-light"%>
  <br>
</div>


