<p id="notice"><%= notice %></p>
<div class="centered">
  <h2>Calificaciones de la aplicacion</h2>
  Promedio: <%= @promedio %>
  <br>
  <table class="table">
    <thead>
      <tr>
        
        <th>Rating</th>
        
        <th>Comentarios</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>
   
    <tbody>
    
      <% @ratings.each do |rating| %>
        <tr>
          
          <td><%= rating.rating %></td>
         
          
         
          <td><%= rating.comments %></td>
          
         
          
          <% if current_user.admin %>
            <td><%= link_to 'Editar', edit_rating_path(rating), class: "btn btn-light btn-sm ml-2" %></td>
            <td><%= link_to 'Borrar', rating, class: "btn btn-light btn-sm ml-2", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    
  </table>

  <br>
  <% if !current_user.admin %>
    <%= link_to 'Nueva Calificacion', new_rating_path, class: "btn btn-light btn-sm ml-2" %>
  <% end %>
</div>
