<%= form_with(model: patient, local: true, class: "form-group") do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="row">
  <div class="col-md-3">
  <%= form.label :name, "Nombre" %>
  <%= form.text_field :name %>
  </div>
  <div class="col-md-3">
  <%= form.label :last_name, "Apellido" %>
  <%= form.text_field :last_name %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3">
  <%= form.label :rut, "Rut" %>
  <%= form.text_field :rut %>
  </div>
  <div class="col-md-3">
  <%= form.label :phone_number, "Telefono" %>
  <%= form.text_field :phone_number %>
  </div>
  <div class="col-md-4">
  <%= form.label :email, "E-mail" %>
  <%= form.text_field :email %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3">
  <%= form.label :birthdate, "F Nacimiento"%>
    <%= form.text_field :birthdate %>
  </div>
  <div class="col-md-3">
  <%= form.label :job, "Ocupacion" %>
    <%= form.text_field :job %>
  </div>
  <div class="col-md-2">
  <%= form.label :civil_state, "Estado Civil" %>
    <%= form.text_field :civil_state %>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
  <%= form.label :family_info, "Antecedentes familiares" %>
    <%= form.text_area :family_info %>
  </div>
</div>

<div class="row">
<div class="col-md-8">
<%= form.label :illness, "Enfermedades previas" %>
    <%= form.text_field :illness %>
</div>
</div>
<br>
<div class="row">
<div class="col-md-8">
<%= form.label :allergies, "Alergias" %>
    <%= form.text_area :allergies %>
</div>
</div>


<div class="row">
<div class="col-md-6">
<%= form.label :surgery, "Operaciones" %>
    <%= form.text_field :surgery %>
</div>
</div>

  

  <div class="field col-sm-7">
    <%= form.label :hobbies, "Hobbies" %>
    <%= form.text_area :hobbies %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Paciente" %>
  </div>
<% end %>
