<p id="notice"><%= notice %></p>

<h1 class="table1">Patients</h1>



<form class="form-inline">
<input class="form-control mr-sm-2 forma" type="search" placeholder "Buscar por Rut" aria-label="Search" name="rut">
<button class="btn btn-info" type="submit">Search</button>
</form>


<table class="table1">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Birthdate</th>
      <th>Patient ID</th>
      <th>Detalles</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.rut %></td>
        <td><%= patient.name %></td>
        <td><%= patient.last_name %></td>
        
        <td><%= patient.phone_number %></td>
        <td><%= patient.email %></td>
        <td><%= patient.birthdate %></td>
        <td><%= patient.id %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Ver detalles', patient, class: "btn btn-light" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, class: "forma"%>
