<p id="notice"><%= notice %></p>

<h1 class="table1 mb-3">Pacientes</h1>

<form class="form-inline mb-4 table1">
  <input class="form-control mr-sm-2" type="search" placeholder "Buscar por Rut" aria-label="Search" name="rut">
  <button class="btn btn-info" type="submit">Search</button>
</form>

<div class = "table-responsive">
  <table class="table table-sm table1">
    <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Fecha Nac.</th>
      
      
      
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.rut %></td>
        <td><%= patient.name %></td>
        <td><%= patient.last_name %></td>
        
        <td><%= patient.phone_number %></td>
        <td><%= patient.email %></td>
        <td><%= patient.birthdate %></td>
        
        
        <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
        <td><%= link_to 'Borrar', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Ver detalles', patient, class: "btn btn-light btn-sm ml-2" %></td>
        
        

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Crear Nuevo Paciente', new_patient_path, class: "table1 btn btn-light", id: "margen-abajo"%>
