<div class="centered">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre Paciente:</strong>
    <%= @patient.name + " " + @patient.last_name %>
  </p>


  <p>
    <strong>Rut:</strong>
    <%= @patient.rut %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @patient.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @patient.email %>
  </p>

  <p>
    <strong>Fecha Nacimiento:</strong>
    <%= @patient.birthdate %>
  </p>

  <p>
    <strong>Ocupacion:</strong>
    <%= @patient.job %>
  </p>

  <p>
    <strong>Estado Civil:</strong>
    <%= @patient.civil_state %>
  </p>

  <p>
    <strong>Antecedentes familiares:</strong>
    <%= @patient.family_info %>
  </p>

  <p>
    <strong>Enfermedades previas:</strong>
    <%= @patient.illness %>
  </p>

  <p>
    <strong>Alergias:</strong>
    <%= @patient.allergies %>
  </p>

  <p>
    <strong>Operaciones:</strong>
    <%= @patient.surgery %>
  </p>

  <p>
    <strong>Hobbies:</strong>
    <%= @patient.hobbies %>
  </p>
  
  
  <td><%= link_to 'Crear Nueva atención', new_attention_path(patient_id: @patient), class: "btn btn-light btn-sm ml-2" %></td> |
  <%= link_to 'Editar', edit_patient_path(@patient) %> |
  <%= link_to 'Volver', patients_path %>
</div>
