<div class="centered">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @patient.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @patient.last_name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= @patient.rut %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @patient.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @patient.email %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @patient.birthdate %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= @patient.job %>
  </p>

  <p>
    <strong>Civil state:</strong>
    <%= @patient.civil_state %>
  </p>

  <p>
    <strong>Family info:</strong>
    <%= @patient.family_info %>
  </p>

  <p>
    <strong>Illness:</strong>
    <%= @patient.illness %>
  </p>

  <p>
    <strong>Allergies:</strong>
    <%= @patient.allergies %>
  </p>

  <p>
    <strong>Surgery:</strong>
    <%= @patient.surgery %>
  </p>

  <p>
    <strong>Hobbies:</strong>
    <%= @patient.hobbies %>
  </p>
  <%= @rut %>
  <%= @pacid %>
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
  <td><%= link_to 'New Attention', new_attention_path, class: "btn btn-light btn-sm ml-2" %></td>
</div>
